@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header -->
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <div class="countdown">
                        <span id="clock">Faqat siz uchun</span>
                    </div>
                    <h1>Professional ta'lim</h1>
                    <p class="p-large">Procode - yangi bilimlar ummoni</p>
                    <a class="btn-solid-lg" href="login.html">Kirish</a>
                    <a class="btn-outline-lg page-scroll" href="#instructor">Ko'proq</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- Image Slider -->
    <div class="outer-container">
        <div class="slider-container">
            <div class="swiper-container image-slider-1">
                <div class="swiper-wrapper">

                    <!-- Slide -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="/assets/img/details-slide-1.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="/assets/img/details-slide-2.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->
                    <!-- Slide -->
                    <div class="swiper-slide">
                        <img class="img-fluid" src="/assets/img/details-slide-3.jpg" alt="alternative">
                    </div>
                    <!-- end of slide -->

                </div> <!-- end of swiper-wrapper -->
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->

            </div> <!-- end of swiper-container -->
        </div> <!-- end of slider-container -->
    </div> <!-- end of outer-container -->
    <!-- end of image slider -->

</header> <!-- end of header -->
<!-- end of header -->
<!-- Registration -->
<div id="register" class="form-1">
    <!-- Partners -->
    <div class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Image Slider -->
                    <div class="slider-container">
                        <div class="swiper-container image-slider-2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-1.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-2.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-3.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-4.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-5.png" alt="alternative">
                                </div>
                                <div class="swiper-slide">
                                    <img class="img-fluid" src="/assets/img/customer-logo-6.png" alt="alternative">
                                </div>
                            </div> <!-- end of swiper-wrapper -->
                        </div> <!-- end of swiper container -->
                    </div> <!-- end of slider-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of partners -->

</div> <!-- end of form-1 -->
<!-- end of registration -->
<!-- Instructor -->
<div id="instructor" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid" src="/assets/img/main_thumbnail.png" alt="alternative">
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Procode bilan o'rganing</h2>
                    <p>
                        Biz bir necha yillik tajribamiz davomida sohaga endi kirib kelgan yoshlarning yo'llarini topib olishda qiyinchiliklarga
                        duch kelishlarini va professional ta'limdan ancha yiroqda bo'lishlarini kuzatdik. Platformamiz esa bu muammo va qiyinchiliklarni
                        bartaraf etish uchun xizmatingizda.
                    </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of instructor -->
<!-- Takeaways -->
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Bizning maqsadlarimiz</h2>
                <p class="p-heading"></p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card ftco-animate fadeInUp ftco-animated">
                    <div class="card-image">
                        <i class="fas fa-atom"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Professional ta'lim</h4>
                        <p>Yoshlarga bilimlarini ulashishga tayyor bo'lgan, o'z sohasining mutaxassislarini jalb etish</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fad fa-signal-stream"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Jonli muloqotlar</h4>
                        <p>Mutaxassilar bilan soha bo'yicha turli mavzularda master klasslar o'tkazish.</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-newspaper"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Foydali postlar</h4>
                        <p>Turli mavzularga doir muammolarning yechimlarini ulashib borish</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-link"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Keng qamrov</h4>
                        <p>IT olamidagi mumkin qadar ko'p sohalarda master klasslar tashkil etish</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="far fa-handshake"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Bepul xizmat</h4>
                        <p>Ilm talabidagi yaqinlarimizga har qaysi turdagi kontentlarni bepul ulashish</p>
                    </div>
                </div>
                <!-- end of card -->
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Qo'llab - quvvatlash</h4>
                        <p>Birodalarimizga ilm olishlarida ko'maklashish va ularni samarali qo'llab-quvvatlash</p>
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards -->
<!-- end of takeaways -->
<!-- Students -->
<div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Professionallardan online master klasslar</h2>
                    <p>
                        Innovatsion texnologiyalar olamida o'z sohasida professional darajaga erishgan mutaxassilarning
                        turli mavzulardagi bilim va ko'nikmalarini ilm talabidagi birordarlarimizga baham ko'ramiz.
                    </p>
                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">Ko'proq <i class="fas fa-long-arrow-alt-right ml-3" aria-hidden="true"></i> </a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <img class="img-fluid" src="/assets/img/about (2).png" alt="alternative">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of students -->
<!-- Details Lightbox -->
<div id="details-lightbox" class="lightbox-basic zoom-anim-dialog mfp-hide">
    <div class="container">
        <div class="row">
            <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
            <div class="col-lg-8">
                <div class="image-container">
                    <img class="img-fluid" src="/assets/img/details-lightbox.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-4">
                <h3>SEO Training Course</h3>
                <hr>
                <h5>For everybody</h5>
                <p>The training course is dedicates to anyone passionate about the web and in need of improving their current online presence.</p>
                <ul class="list-unstyled li-space-lg">
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Link building framework</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Know your current position</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Partnering with blogs</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Naming your /assets/img</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Creating good sitemaps</div>
                    </li>
                    <li class="media">
                        <i class="fas fa-square"></i><div class="media-body">Writing for humans</div>
                    </li>
                </ul>
                <a class="btn-solid-reg mfp-close page-scroll" href="#register">SIGN UP</a> <a class="btn-outline-reg mfp-close as-button" href="#screenshots">BACK</a>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of lightbox-basic -->
<!-- end of details lightbox -->
<!-- Video -->
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Yanada ko'proq bilimlar</h2>

                <!-- Video Preview -->
                <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=fLCjQJCekTs" data-effect="fadeIn">
                            <img class="img-fluid" src="/assets/img/thumbnail.png" alt="alternative">
                            <span class="video-play-button">
                                <span></span>
                            </span>
                        </a>
                    </div> <!-- end of video-wrapper -->
                </div> <!-- end of image-container -->
                <!-- end of video preview -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of video -->
<!-- Testimonials -->
<div class="slider-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Barcha bilimimizni siz bilan baham ko'ramiz</h3>

                <!-- Text Slider -->
                <div class="slider-container">
                    <div class="swiper-container text-slider">
                        <div class="swiper-wrapper">

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-wrapper">
                                    <img class="img-fluid" src="/assets/img/testimonial-1.jpg" alt="alternative">
                                </div> <!-- end of image-wrapper -->
                                <div class="text-wrapper">
                                    <div class="testimonial-text">I took the SEO training course about a year ago and I am very happy. It taught me all the basics of search engine optimization and some tricks.</div>
                                    <div class="testimonial-author">Jude Thorn - Online Marketer</div>
                                </div> <!-- end of text-wrapper -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-wrapper">
                                    <img class="img-fluid" src="/assets/img/testimonial-2.jpg" alt="alternative">
                                </div> <!-- end of image-wrapper -->
                                <div class="text-wrapper">
                                    <div class="testimonial-text">Awesome course for the money. I never thought I could learn so much about search engine optimization in such a short amount of time. Highly recommend.</div>
                                    <div class="testimonial-author">Roy Smith - Developer</div>
                                </div> <!-- end of text-wrapper -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-wrapper">
                                    <img class="img-fluid" src="/assets/img/testimonial-3.jpg" alt="alternative">
                                </div> <!-- end of image-wrapper -->
                                <div class="text-wrapper">
                                    <div class="testimonial-text">Corso is the best SEO training course in the market. It teaches you all the basics but it also adds value with some advanced tips & tricks the are great.</div>
                                    <div class="testimonial-author">Martin Singer - Online Marketer</div>
                                </div> <!-- end of text-wrapper -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="image-wrapper">
                                    <img class="img-fluid" src="/assets/img/testimonial-4.jpg" alt="alternative">
                                </div> <!-- end of image-wrapper -->
                                <div class="text-wrapper">
                                    <div class="testimonial-text">Learning SEO can actually be fun. I attended Corso SEO training and I had a great time with my peer students and the instructors. Highly recommended course.</div>
                                    <div class="testimonial-author">Ronda Louis - Business Owner</div>
                                </div> <!-- end of text-wrapper -->
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of text slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of testimonials -->
<!-- Date -->
<div id="date" class="basic-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-container">
                    <h2 class="thumbnail_title">
                        JavaScript asoslari<h2>
                            <p class="thumbnail_author">Jahongir Odilov</p>
                            <p class="thumbnail_date">22 - Dekabr 20:00</p>
                            <a class="btn-solid-lg page-scroll" href="#register">Eslatma belgilash <i class="fas fa-bell ml-2" aria-hidden="true"></i> </a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-5 -->
<!-- end of date -->
<!-- Newsletter -->
<div class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Keyingi darslarimiz qaysi mavzularda bo'lishini xohlashingiz haqida bizga yozing</h3>

                <!-- Newsletter Form -->
                <form id="newsletterForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="nemail" required>
                        <label class="label-control" for="nemail">Matnni kiriting</label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control-submit-button">Yuborish</button>
                    </div>
                    <div class="form-message">
                        <div id="nmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
                <!-- end of newsletter form -->
                <!-- Social Links -->
                <div class="icon-container">
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-telegram-plane fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-github fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <i class="fas fa-circle fa-stack-2x"></i>
                            <i class="fab fa-youtube fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of icon-container -->
                <!-- end of social icons -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of newsletter -->