@model DashboardAddSpeakerViewModel
@{
    ViewData["Title"] = "Yangi spiker qo'shish";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
   // var photoFilePath = "~/assets/img/speaker/" + (Model. ?? "speaker.jpg");
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Yangi spiker qo'shish</div>
                <hr>
                <form enctype="multipart/form-data" asp-controller="dashboard" asp-action="addspeaker" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname"></label>
                        <input asp-for="Surname" type="text" class="form-control" id="input-2">
                    </div>
                    <div class="form-group">
                        <label asp-for="Job"></label>
                        <input asp-for="Job" type="text" class="form-control" id="input-3">
                    </div>
                    <div class="form-group">
                        <label asp-for="Quote"></label>
                        <input asp-for="Quote" type="text" class="form-control" id="input-4">
                    </div>
                    <div class="form-group">
                        <label asp-for="Photo"></label>
                        <input type="file" class="form-control" asp-for="Photo"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light px-5">Yaratish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>