@model Content
@{
    ViewData["Title"] = "Yangi kontent qo'shish";
    Layout = "~/Views/Shared/_DashLayout.cshtml";
}

<div class="row mt-3">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="card-title">Yangi kontent qo'shish</div>
                <hr>
                <form enctype="multipart/form-data" asp-controller="dashboard" asp-action="content" method="post">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" type="text" class="form-control mb-1" id="input-1">
                        <span asp-validation-for="Name" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorName"></label>
                        <input asp-for="AuthorName" type="text" class="form-control mb-1" id="input-2">
                        <span asp-validation-for="AuthorName" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorSurname"></label>
                        <input asp-for="AuthorSurname" type="text" class="form-control mb-1" id="input-3">
                        <span asp-validation-for="AuthorSurname" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedTime"></label>
                        <input asp-for="CreatedTime" type="datetime" class="form-control mb-1" id="input-3">
                        <span asp-validation-for="CreatedTime" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription"></label>
                        <input asp-for="ShortDescription" type="text" class="form-control mb-1" id="input-4">
                        <span asp-validation-for="ShortDescription" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LongDescription"></label>
                        <input asp-for="LongDescription" type="text" class="form-control mb-1" id="input-4">
                        <span asp-validation-for="LongDescription" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="GitUrl"></label>
                        <input asp-for="GitUrl" type="text" class="form-control mb-1" id="input-4">
                        <span asp-validation-for="GitUrl" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="YoutubeUrl"></label>
                        <input asp-for="YoutubeUrl" type="text" class="form-control mb-1" id="input-4">
                        <span asp-validation-for="YoutubeUrl" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThumbnailPhotoFilePath"></label>
                        <input type="file" class="form-control mb-1" asp-for="ThumbnailPhotoFilePath" />
                        <span asp-validation-for="ThumbnailPhotoFilePath" class="AspValidationError"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-light px-5">Yaratish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
